
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background: #34495e;
    color: white;
    padding: 1em 0;
}

.navbar {
    width: 90%;
    margin: 0 auto;
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex; 
    align-items: center;
}

.nav-link i {
    margin-right: 8px; 
}

.nav-link:hover {
    background-color: #2c3e50;
}

.nav-link.current {
    background-color: #e67e22; 
    font-weight: bold;
}


.content-container {
    width: 90%;
    margin: 2em auto;
    padding: 2em;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-grow: 1; 
    text-align: justify; 
}

h1 {
    color: #3498db;
    margin-bottom: 0.5em;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 0.3em;
}


.info-section h2 {
    margin-top: 1.5em;
    color: #e74c3c;
}
.output-text {
    margin-top: 1em;
    padding: 0.5em;
    background-color: #ecf0f1;
    border-left: 5px solid #3498db;
}


.layout-details {
    display: flex;
    gap: 20px;
    margin-top: 2em;
}

.detail-box {
    flex: 1; 
    padding: 15px;
    border: 1px solid #bdc3c7;
    border-radius: 6px;
    background-color: #f9f9f9;
}

.detail-box h3 {
    color: #27ae60;
    margin-bottom: 10px;
}


.contact-form {
    max-width: 600px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.submit-button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #2980b9;
}



footer {
    text-align: center;
    padding: 1em 0;
    background: #34495e;
    color: white;
    margin-top: auto; 
}